@charset "UTF-8";

.content{
	float:left;
	width:70%;
}
.ad{
	float:right;
}
.ad ul{
	list-style: none;
}

.list{
  width:800px; 
  border:3px solid #FF6767; 
  border-radius:8px; 
  margin:10px 0 0 10px; 
  list-style:none;
}

.list li{
  padding:10px 0 0 10px; 
  border-top:1px dotted tomato; 
  margin-bottom:10px;
}

.list li:first-child{
  border:0 none;
}

.list li a{
  height:20px; 
  line-height:20px; 
  display:block; 
  text-decoration:none; 
  color:black;
}
.list li p{
	color:orange;
}

h2{
	background: #FFD371;
	color: white;
}
h3{
	background: #FFD371;
	color: white;
}
.userLogin{
	background: #FF6767;
	color: white;
}
.plusbtn{
	background: #9DDAC6;
	color: white;
	text-decoration: none;
}
.btn{
	background: #9DDAC6;
}
.myMsg{
	background: #FAAD80;
	color: white;
	text-decoration: none;

}

